body {
    background: #ecf0f1;
}

.quote-box {
    margin-top: 1em;
    margin-bottom: 1em;
}

#quote-well {
    font-family: Verdana, sans-serif;
    background: #9b59b6;
    color: #ecf0f1;
}

#quote {
    font-size: 1.75em;
    text-align: center;
}

#quote-author {
    font-size: 1.15em;
    margin: 1em auto 1em auto;
    text-align: right;
}

.btnd {
    text-align: right;
}