body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background: #ecf0f1;
}

#base-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-box {
    margin: 1em;
}

#quote-well {
    font-family: Verdana, sans-serif;
    background: #9b59b6;
    color: #ecf0f1;
    margin-bottom: 0;
}

#quote {
    font-size: 1.75em;
    text-align: center;
}

#quote-author {
    font-size: 1.15em;
    margin: 1em auto 1em auto;
    text-align: right;
}

.btnd {
    text-align: right;
}

.btnd .button {
    color: #9b59b6;
    background-color: #ecf0f1;
    border: none;
    font-size: 1.25em;
}

.btnd .button:hover {
    opacity: 0.9;
}

.row {
    width: 100%;
}