.quote-box {
    margin: 3em;
}

#quote-well {
    font-family: Verdana, sans-serif;
    background: #9b59b6;
    color: #ecf0f1;
}

#quote {
    font-size: 1.75em;
    text-align: center;
}

#quote-author {
    font-size: 1.15em;
    margin: 1.15em auto auto auto;
    text-align: right;
}